# =====================
# OpenAI
# =====================
OPENAI_API_KEY=

# =====================
# Database
# =====================
DATABASE_URL=

# =====================
# JWT
# =====================
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# =====================
# LangSmith
# =====================
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=AstraStudy

# =====================
# Langfuse
# =====================
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

# =====================
# Qdrant
# =====================
QDRANT_URL=
QDRANT_API_KEY=